[Unit]
Description=Nfancurve service
After=graphical-session.target
Requires=graphical-session.target

[Service]
ExecStart=/home/andrew/Hardware/nfancurve/temp.sh -c /home/andrew/Hardware/nfancurve/config
KillSignal=SIGINT

[Install]
WantedBy=graphical-session.target
